{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <nav class="menu">
            <div class="container">
                <div class="menu__body">
                    <div class="menu__links">
                        <a href="{% url 'front:index' %}">Главная страница</a>
                        <a href="{% url 'front:show_all_polygons' %}">Загрузить полигон</a>
                    </div>
                    <div class="menu__btns">
                        <input class="set_vertices" type="submit" value="Отметить вершины полигона">
                        <input class="draw_polygon" type="submit" value="Нарисовать полигон">
                        <input class="draw_points" type="submit" value="Рисовать точки">
                        <input class="save_polygon" type="submit" value="Сохранить полигон">
                    </div>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container">
                <div class="canvas">
                    <canvas width="990" height="400" id="cvs"></canvas>
                </div>
                {% if polygon %}
                    <div class="polygon__item item loaded_polygon">
                        <div class="item__title">
                            Нажмите на полигон для копирования
                        </div>
                        <div class="item__image">
                            <img src="{{ polygon.image.url }}" alt="no image">
                        </div>
                        </div>
                        <script>
                            let polygonObj = document.querySelector('.item');
                            polygonObj.addEventListener('click', function(){
                                let vertices = {{ polygon.vertices|safe }};
                                polygon = vertices['vertices'];
                                drawPolygon();
                            });
                        </script>
                {% endif %}
                </div>
            </div>
        </div>


    <script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'js/vertices.js' %}"></script>
</body>
</html>












