{% extends 'front/base.html' %}

{% block content %}

    <div class="polygons">
        <div class="polygons__row">
            {% for polygon in polygons %}
            <div class="polygon__item item">
                <div class="item__title">{{ polygon.vertices }}</div>
                <div class="item__image">
                    <a href="{% url 'front:index_with_polygon' polygon.id %}"><img src="{{ polygon.image.url }}" alt="no image"></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}