*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*---------------------------------------------------------*/

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button{
    font-family: inherit;
}

.container{
    max-width: 990px;
    margin: 0 auto;
    padding: 0 5px;

}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(50, 50, 50, .9);
}
.menu__body{
    position: relative;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.menu__links{
    height: 100%;
    padding-top: 32px;
}
.menu__links a{
    color: #fff;
    margin: 0 10px 0 0;
    text-shadow: 1px 1px 2px black;
}
.menu__links a:last-child{
    margin: 0;
}

.menu__btns >* {
    padding: 4px;
    margin: 0 0 0 15px;
    height: 100%;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.menu__btns >*:hover {
    box-shadow: 2px 2px 20px 2px black;
}

.content{
    margin: 100px 0 0 0;
}
.canvas canvas{
    border: 1px solid black;
    border-radius: 5px;
}
.polygons__title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 5px 0;
}
.polygons__row{
    display: flex;
    flex-wrap: wrap;
}

.item{
    flex: 0 1 33.1%;
    border: 1px solid black;

}

.item__title{

}
.item__image{

}
.item__image img{
    width: 100%;
    border: 1px solid black;
}